<%- include('main/head') %>
<%- include('main/nav') %>
<br>
<main class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span>Gimme u'r data (>.>)</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    Imagen
                </div>
                <div class="col-xs-8">
                    <img src="archivos/1519504128343.jpg" alt="" class="img img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    Nombre
                </div>
                <div class="col-xs-8">
                    Alex Lora
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    Email
                </div>
                <div class="col-xs-8">
                    123bronza@gmail.com
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    Phone
                </div>
                <div class="col-xs-8">
                    66669696969
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    Website
                </div>
                <div class="col-xs-8">
                    <a href="#">This is awesome</a>
                </div>
            </div>
        </div>
        <div class="panel-footer">WeeeEEE are the chmpionsssssss~~~!!</div>
    </div>
    <div class="container-fluid">
        <table class="table table-responsive table-bordered table-hover">
            <thead></thead>
            <tbody>
                <tr>
                    <td class="alert alert-info">Nombre</td>
                    <td>n</td>
                </tr>
                <tr>
                    <td class="alert alert-info">email</td>
                    <td>asdasd@asdasd.com</td>
                </tr>
                <tr>
                    <td class="alert alert-info">Phone</td>
                    <td>666999666</td>
                </tr>
                <tr>
                    <td class="alert alert-info">Website</td>
                    <td><a href="#">This awesome!</a></td>
                </tr>
                <tr>
                    <td class="alert alert-info"></td>
                    <td><button class="btn btn-primary">Click me :D</button></td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</main>
<%- include('main/foot') %>	